.dashed-box {
  position: relative;
  z-index: 1;
  border: dashed;
  height: 8em;
   margin-bottom: 1em;
  margin-top: 2em; 
}

.gold-box {
  position: absolute;
  z-index: 3;
  background-color: gold;
  width: 80%;
  left: 60px;
  top: 3em;
}

.green-box {
  position: absolute;
  z-index: 2;
  background-color:rgb(76, 211, 76);
  width: 20%;
  left: 65%;
  top: 30px;
  height: 7em;
  opacity: 0.9;
}